.chat-container {
    display: flex;
    width: 100vw;
    height: 100vh;

    .left-bar {
        min-width: 150px;
        background-color: rgb(42, 35, 83);
    }

    .right-bar {
        height: 100%;
        width: 100%;
        .messages-box-container {
            background-color: rgb(190, 189, 189);
            height: 80%;
            overflow: hidden scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            .message-box{
                display: flex;
                width: 200px;
                height: auto;
                .message-delete-btn{
                    margin-left: 20%;
                }
            }
        }
    }
}
